.singlehead{
    position: relative;
    animation: mymove1 3s infinite;
    animation-delay: 2s;
}
  
  @keyframes mymove1 {
    from {left: 0px;}
    to {left: 490px;}
    
}
.secondfourhead{
    position: relative;
    animation: mymove2 3s infinite;
    animation-delay: 2s;
}
  
  @keyframes mymove2 {
    from {top: 0px;}
    to {top:-320px;}
    from {right: 0px;}
    to {right:340px;}

    
}
.secondsinglehead{
    position: relative;
    animation: mymove3 3s infinite;
    animation-delay: 2s;
}
  
  @keyframes mymove3 {
    from {top: 0px;}
    to {top:-320px;}
    from {right: 0px;}
    to {right:-160px;}


    
}
.body{
    position: relative;
    animation: mymove4 3s infinite;
    animation-delay: 2s;
}
  
  @keyframes mymove4 {
    from {top: 0px;}
    to {top:-640px;}
    from {left: 0px;}
    to {left:400px;}


    
}
